<section class="banner" style="background-color: {{ background_color }}">
  <div class="banner-content">
    <h1 class="local--heading">
      {{ heading }}
    </h1>

    <a href="{{ url }}" class="button-primary">
      {{ call_to_action }}
    </a>
  </div>

  <img data-src="{{ image_url }}" class="banner-image" />
</section>
