<a href="{{ button_url }}" class="button" style="border-color: {{ button_border_color }}; background-color: {{ button_background_color }}; color: {{ button_text_color }};">
  {{ button_call_to_action }}
</a>
