{% assign call_to_action = section.settings.call_to_action %}

{% assign url = section.settings.url %}

{% assign default_zone = section.settings.default_zone %}

{%- assign enabled = section.settings.enabled -%}

{%- if enabled -%}
  <div class="cart-drawer-shipping" data-module-cart-drawer-shipping>
    {% for block in section.blocks %}
      {% assign name = block.settings.title %}

      {% assign countries_lines = block.settings.countries | newline_to_br | split: "<br />" %}

      {% assign countries = "" | split: "" %}

      {% for line in countries_lines %}
        {% assign country = line | strip | split: "-<-@" %}
        {% assign countries = countries | concat: country %}
      {% endfor %}

      {% assign default = false %}

      {% if name == default_zone %}
        {% assign default = true %}
      {% endif %}

      {% assign heading = block.settings.heading %}

      {% assign description = block.settings.description %}

      {% if description %}
        <div class="hide box-trim" data-local-description="{{ name }}">
          <script type="text/json">
            {
              "default": {{ default | json }},
              "countries": {{ countries | json }}
            }
          </script>

          <h3 class="cart-drawer-shipping-heading">
            {{ heading }}
          </h3>

          <p class="cart-drawer-shipping-description">
            {{ description }}
          </p>
        </div>
      {% endif %}
    {% endfor %}

    {% if call_to_action and url %}
      <div class="cart-drawer-shipping-footer">
        <a href="{{ url }}" class="text-link-primary">
          {{ call_to_action }}
        </a>
      </div>
    {% endif %}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Cart shipping",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enable",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "Show shipping zone information based on customer's location."
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "text",
        "id": "default_zone",
        "label": "Default zone",
        "default": "International",
        "info": "The name of the default zone above for when the customer's location does not match any other zone."
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "call_to_action",
        "label": "Call to action",
        "default": "View shipping terms"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "zone",
        "name": "Zone",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Name"
          },
          {
            "type": "textarea",
            "id": "countries",
            "label": "Countries",
            "info": "Two-letter country codes one per line. Not required if default zone."
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}
